[submodule "omoponfhir-omopv5-sql"]
	path = omoponfhir-omopv5-sql
	url = https://github.com/omoponfhir/omoponfhir-omopv5-sql.git
	branch = 5.3.1
[submodule "omoponfhir-omopv5-r4-mapping"]
	path = omoponfhir-omopv5-r4-mapping
	url = https://github.com/omoponfhir/omoponfhir-omopv5-r4-mapping.git
	branch = sqlRender
[submodule "omoponfhir-r4-server"]
	path = omoponfhir-r4-server
	url = https://github.com/omoponfhir/omoponfhir-r4-server.git
	branch = sqlRender
